{% load i18n static erp_reporting_tags %}


<html>
{#sample page#}
<head>
    <title>Sample Page</title>
</head>
<body>
        <a href="{% url "erp_framework:index" %}"> Go to main site </a>

        {% get_report base_model='expense' report_slug='ExpensesTotalStatement' as ExpensesTotalStatement %}
        {% get_html_panel ExpensesTotalStatement %}

        {% get_report base_model='product' report_slug='productmovementstatement' as productmovementstatement %}
        {% get_html_panel productmovementstatement no_chart=True date_theme="last_week" data_display_chart_selector=False %}


</body>

{# Minimal adjustment for bootstrap #}
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"/>

{% include "erp_framework/js_resources.html" %}

</html>